@layer reset, fonts, tokens, base, layout, components, responsive;

@import url('./reset.css') layer(reset);

@layer fonts {
  @font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('./../assets/fonts/barlow-semi-condensed-medium.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('./../assets/fonts/barlow-semi-condensed-semibold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }
}

@layer tokens {
  :root {
    --white: #FFFFFF;
    --black: #121212;
    --dark-blue: #19202D;
    --grey-100: #E7EAEE;
    --grey-200: #CFCFCF;
    --grey-300: #F6F5F6;
    --grey-400: #676D7E;
    --grey-500: #48556A;
    --purple-50: #EDE4FF;
    --purple-300: #A775F1;
    --purple-500: #733FC8;

    --ff-base: 'Barlow Semi Condensed', system-ui, sans-serif;
    --fsz-base: 1rem;
    --fsz-status: 0.6875rem;
    --fsz-body: 0.8125rem;
    --fsz-heading: 1.25rem;

    --radius-sm: 0.5rem;

    --testimonial-shadow: 2.5rem 3.75rem 3.125rem -2.125rem #48556a49;

  }
}

@layer base {
  .visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
}

@layer layout {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-base);
    font-size: var(--fsz-base);
    background-color: var(--grey-300);
    color: var(--grey-500);
  }

  .testimonials {
    margin-block-start: 5.8rem;
    inline-size: clamp(19.0625rem, 81vw, 40.4375rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }
}

@layer components {
  .testimonial {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    font-weight: 500;
    border-radius: var(--radius-sm);
    box-shadow: var(--testimonial-shadow);
  }

  :is(.testimonial--primary, .testimonial--secondary) {
    & :is(.testimonial__summary, .testimonial__name) {
      color: var(--white);
    }
  }

  .testimonial--neutral {
    & :is(.testimonial__summary, .testimonial__name) {
      color: var(--grey-500);
    }
  }

  .testimonial--accent {
    & :is(.testimonial__summary, .testimonial__name) {
      color: var(--grey-200);
    }
  }

  .testimonial--primary {
    --avatar-border: var(--purple-300);

    background-color: var(--purple-500);
    color: var(--purple-50);
  }

  .testimonial--secondary {
    background-color: var(--grey-500);
    color: var(--grey-100);
  }

  .testimonial--neutral {
    background-color: var(--white);
    color: var(--grey-400);
  }

  .testimonial--accent {
    --avatar-border: var(--purple-500);

    background-color: var(--dark-blue);
    color: var(--grey-100);
  }

  .testimonial__avatar {
    inline-size: 2rem;
    block-size: 2rem;
    border-radius: 50%;
    border: 2px solid var(--avatar-border, transparent);
    grid-row: span 2;
  }

  .testimonial__meta {
    display: flex;
    align-items: end;
    gap: 1em;
    font-size: var(--fsz-body);
    line-height: 1.3;
  }

  .testimonial__name,
  .testimonial__status {
    display: block;
  }

  .testimonial__status {
    font-size: var(--fsz-status);
  }

  .testimonial__summary {
    font-size: var(--fsz-heading);
    font-weight: 600;
    line-height: 1.2;
  }

  .testimonial__quote {
    font-size: var(--fsz-body);
    line-height: 1.4;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }

  .attribution {
    padding-block: 2.5em;
    font-size: var(--fsz-body);
    text-align: center;
    letter-spacing: .05em;
  }

  .attribution__link {
    margin-inline: .25em;
    font-weight: 600;
    text-decoration: underline wavy;
    text-decoration-thickness: .06rem;
    color: var(--purple-500);
    outline-color: currentColor;

    &:is(:hover, :focus-visible) {
      text-decoration: none;
    }
  }
}

@layer responsive {
  @media (width >=48rem) {
    .testimonials {
      grid-template-columns: repeat(2, 1fr);
    }

    .testimonial:nth-of-type(1) {
      background-image: url('./../assets/images/bg-pattern-quotation.svg');
      background-repeat: no-repeat;
      background-position: 73.5% 0;
    }

    .testimonial:nth-of-type(1),
    .testimonial:nth-of-type(4),
    .testimonial:nth-of-type(5) {
      grid-column: span 2;
    }
  }

  @media (width >=75rem) {
    .testimonials {
      inline-size: 69.62rem;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 1.5em;
    }

    .testimonial:nth-of-type(1) {
      background-position: 86% 0;
    }

    .testimonial:nth-of-type(5) {
      grid-column: 4/5;
      grid-row: 1/3;
    }
  }
}